target/
node_modules/
dist/
.env
*.zkey
*.ptau
*.r1cs
*.wasm
*.sym
*.wtns
*.json
!package-lock.json
!package.json
!tsconfig.json
!tsconfig.test.json
!deployments.json
!circuits/**/*_test_vectors.json
!contracts/**/test_snapshots/**/*.json
build/
.DS_Store
Cargo.lock
!contracts/Cargo.lock
